{% extends 'base.html.twig' %}

{% block title %}Ajouter une observation{% endblock %}
{% block description %}{% endblock %}

{% block body %}
{% include 'interface/parts/_sidebar.html.twig' %}
<div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <div class="col-md-12 col-lg-6 custom-box">
                    <h1 class="h1box"><i class="material-icons" style="font-size: 24px; vertical-align: middle;margin-right: 8px;">get_app</i>Devenir naturaliste</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(application, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group row">
                <div class="col-md-12">
                    {{ form_label(application.experience) }}
                    {{ form_widget(application.experience) }}
                </div>
                <div class="col-md-12 mt-4">
                    {{ form_label(application.description) }}
                    {{ form_widget(application.description) }}
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-custom" name="submit" type="submit">Soumettre votre candidature</button>
            {{ form_end(application) }}
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}

