{% extends 'base.html.twig' %}

{% block title %}NAO - Devenir naturaliste{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block body %}
{% include 'interface/parts/_sidebar.html.twig' %}
<div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <div class="col-md-12 col-lg-6 custom-box">
                    <h1 class="h1box"><i class="material-icons" style="font-size: 24px; vertical-align: middle;margin-right: 8px;">get_app</i>Devenir naturaliste</h1>
                {% if appStatut is not null %}
                    {% if appStatut.statut == 1 %}
                    <div class="alert alert-primary" role="alert">
                        Votre candidature <strong>#{{ appStatut.id }}</strong> est actuellement en train d'être étudié. Veuillez patienter le temps qu'un naturaliste puisse valider ou refuser votre demande.
                    </div>
                    <a href="{{ path('nao_interface') }}"><button type="submit" class="btn btn-custom">Revenur à l'Accueil</button></a>
                {% endif %}
                {% if appStatut.statut == 0 %}
                        <div class="alert alert-warning" role="alert">
                            Désolé mais votre candidature <strong>#{{ appStatut.id }}</strong> a été refusée par un naturaliste. Vous n'avez pas la possibilité d'en soumettre une nouvelle. Si vous pensez que ce refus n'est pas justifié, contactez nous à l'aide de notre
                            <a href="{{ path('nao_contact') }}">formulaire de contact</a>.
                        </div>
                    <a href="{{ path('nao_interface') }}"><button type="submit" class="btn btn-custom">Revenur à l'Accueil</button></a>
                {% endif %}
                    {% endif %}
                {% if appStatut is null %}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                         {% endfor %}
                    {{ form_start(application, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group row">
                        <div class="col-md-12">
                            {{ form_label(application.experience) }}
                            {{ form_widget(application.experience) }}
                        </div>
                        <div class="col-md-12 mt-4">
                            {{ form_label(application.description) }}
                            {{ form_widget(application.description) }}
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-custom" name="submit" type="submit">Soumettre votre candidature</button>
                    {{ form_end(application) }}
                {% endif %}
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

