{% extends 'base.html.twig' %}

{% block title %}NAO - Ajout d'une observation{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block body %}

<section>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</section>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

