{% extends 'base.html.twig' %}

{% block title %}NAO - Membre {{ app.user|capitalize }}{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block body %}
{% include 'interface/parts/_sidebar.html.twig' %}
<div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
    <div class="main-content">
        <div class="row">
        <div class="col-lg-6">
                <div class="profile-box">
                    <div class="profiletop"></div>
                    {% if app.user.username == user.username %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="edit-lk">Editer votre profil</a>
                    {% endif %}
                    <div class="av-img">
                        {% if user.image == false %}
                            <img src="{{ asset('assets/img/homme.jpg') }}" alt="{{ user.username }} - Image Profil">
                        {% else %}
                            <img src="{{ asset('uploads/avatar/'~user.image) }}" alt="{{ user.username }} - Image Profil">
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                    <div class="custom-box">
                        <div class="user-info">
                            <h1>{{ user.username|capitalize }}</h1>
                            {% if is_granted('ROLE_USER') and is_granted('ROLE_NATURALIST') == false %}
                                <h2>Passionné(e)</h2>
                            {% endif %}
                            {% if is_granted('ROLE_NATURALIST') %}
                                <h2>Naturaliste</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
            {% include 'interface/parts/_badges.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script type="application/javascript">

        $(".badges-info").hide();

        $("a.dropinfo").click(function(){
            $(".badges-info").toggle(300);
        });
    </script>
{% endblock %}

