<h2>Reception d'un mail depuis le formulaire de contact du site Nos Amis les Oiseaux</h2>

Nom : {{ data.lastname }}<br>
Prénom : {{ data.firstname }}<br>
Email : {{ data.email }}<br><br>

Sujet : {{ data.subject }}<br><br>

Message : {{ data.content }}

