{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-bordered">
        <tr>
            <th>id</th>
            <th>LbNom</th>
            <th>Nom Vern</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Statut</th>
        </tr>
            <tr>
                <td>#{{ observation.id }}</td>
                <td>{{ observation.bird.lbNom }}</td>
                <td>{{ observation.bird.nomVern }}</td>
                <td>{{ observation.latitude }}</td>
                <td>{{ observation.longitude }}</td>
                <td>{{ observation.libelleStatut }}</td>
            </tr>
    </table>
{% endblock %}