{% extends 'base.html.twig' %}
{% block description %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
 
     <link rel="stylesheet" href="{{ asset('build/js/observAutocomplete.css') }}">



{% endblock %}
{% block body %}
{% include 'interface/parts/_sidebar.html.twig' %}
 <div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
 <div class="main-content">

    <div class="row">
        <div class="col-md-12">
            <div id="message"></div>
        </div>
        <div class="col-md-6">
            <input id="input-nom-vern" type="text" class="form-control" placeholder="Rechercher un oiseau">
        </div>
        
        <div class="col-md-3">
            <button id="btn-valider" class="btn btn-primary btn-block">Valider</button>
        </div>
        <div class="col-md-3">
            <button id="clearMap" class="btn btn-default">Nouvelle recherche</button>
        </div>
    </div>
    <div class="row">
        <div class="map-container mt-5">
            <div id="map"></div>
        </div>
    </div></div></div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB1pM1lEVpFhq3Fne8yzNchvi0FNheYoY"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    <script type="application/javascript">

        var map, marker, infoWindow;
        var locations = [];
        var searchUrl = "{{ path('nao_interface_map_search')  }}";
        var markers = [];

/////////////////////////////////////////////////////////////////////////////////////////////////////////
        // INITIALISATION DE LA CARTE
        function initMap() {
            var center = {lat: 47.12025, lng: 2.123654};
            map = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: 6,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            });
        }

//////////////////////////////////////////////////////////////////////////////////////////////////////////

        // RECHERCHE NOM VERN ET MISE EN PLACE DES MARQUEURS
        infowindow =  new google.maps.InfoWindow({});

        $(function () {
            $(document).on('click', '#btn-valider', function () {
                var nomVern = $('#input-nom-vern').val();
                $.ajax({
                    url: searchUrl,
                    type: "POST",
                    dataType: "json",
                    data: {"nomVern": nomVern},
                    async: true,
                    success: function (data) {
                        locations = data;

                            for (var count = 0; count < data.length; count++) {
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[count].latitude, locations[count].longitude),
                                    map: map,
                                    title: locations[count].nomVern,

                                });
                                markers.push(marker);


                            google.maps.event.addListener(marker, 'click', (function (marker, count) {
                                var id = locations[count].id;
                                var route = "{{ path('nao_interface_obs_show', { 'id': "PLACEHOLDER"}) }}";
                                //console.log(id);
                                return function () {

                                    console.log(id);
                                    var contentString = '<div id="content" class="card">'+
                                            '<div id="bodyContent" class="card-body">'+
                                            '<p id="title" class="card-title title">'+locations[count].nomVern+'</p>'+
                                            '<p id="author" class="card-title author">Posté par <b>'+locations[count].username+'</b>'+
                                            '<span class="date-pub">- Validé le '+locations[count].date+'</span></p><hr>'+
                                            '<img src="" alt="">'+
                                            '<p>'+locations[count].description+'</p>'+
                                           // '<p>'+locations[count].id+'</p>'+

                                        // '<div class="card-footer text-center"><a  href="{{ path('nao_interface_obs_show',{ 'id': "PLACEHOLDER" }  ) }}"  class="btn btn-primary text-center >Fiche observation</a></div>'+
                                         '<div class="card-footer text-center"><a  href="{{ path('nao_interface_obs_show',{ 'id': "PLACEHOLDER" }  ) }}"  class="btn btn-primary text-center">Fiche observation</a></div>'+
                                            '</div>';

                                    infowindow.setContent(contentString);
                                    infowindow.open(map, marker);

                                /*  function test()
                                  {
                                      window.location = route.replace("PLACEHOLDER", id);
                                  }*/
                                   window.location = route.replace("PLACEHOLDER", id);

                                }
                            })(marker, count));
                            google.maps.event.addListener(map, 'click', function() {
                                infowindow.close();
                            });
                        }
                        var markerCluster = new MarkerClusterer(map, markers,
                            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                        if (data.length < 1){document.getElementById('message').innerHTML='<p> Il n\'y a pas encore d\'observations pour cet oiseau</p>';}

                    },
                    error: function () {
                        console.log('error');
                    }
                });
            });
        });
        google.maps.event.addDomListener(window, 'load', initMap);


//////////////////////////////////////////////////////////////////////////////////////////////

        google.maps.event.addListener(infowindow, 'domready', function() {
            var iwOuter = $('.gm-style-iw');
            var iwBackground = iwOuter.prev();
            iwBackground.children(':nth-child(2)').css({'display' : 'none'});
            iwBackground.children(':nth-child(4)').css({'display' : 'none'});
            var iwCloseBtn = iwOuter.next();
            iwCloseBtn.css({
                opacity: '1',
                right: '38px', top: '3px',
                border: '7px solid #48b5e9',
                'border-radius': '50%',
                'box-shadow': '0 0 5px #3990B9'
            });
            iwCloseBtn.mouseout(function(){
                $(this).css({opacity: '1'});
            });
        });
//////////////////////////////////////////////////////////////////////////////////////////
        // CLEAR MAP POUR RELANCER RECHERCHE
        $('#clearMap').click(function (data) {
            data.preventDefault();
            location.reload();
        });
        ////////////////////////////////////////////////////////////////////////////////
    </script>

    <script>
var lbNomUrl = "{{ path('bird_lbnom_autocomplete') }}";
var vernNomUrl = "{{ path('bird_nomvern_autocomplete') }}";
    </script>
 <script src="{{ asset('build/js/observAutocomplete.js') }}"></script>
    <script src="{{ asset('../assets/js/markerclusterer.js') }}"></script>

{% endblock %}