{% extends 'base.html.twig' %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">#}
    <style>
        .map-container {
            width: 100%;
            height: 400px;
        }
        #map {
            height: 100%;
        }

        #pac-input {
            background-color: #fff;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            margin-top: 10px;
            height: 30px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="map-container mt-3">
            <input id="pac-input" class="controls form-control" type="text" placeholder="Rechercher une adresse">
            <div id="map"></div>
        </div>
    </div>
    <div class="row mt-3">
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/geolocation.js') }}"></script>
    <script>
        $(function () {
            $("#observation_bird_lbNom").autocomplete({
                source: "{{ path('bird_lbnom_autocomplete') }}",
                minLength: 2,
                select: function (event, ui) {
                    $("#observation_bird_lbNom").val(ui.item.value);
                    return false;
                },
                change: function (event, ui) {
                    $("#observation_bird_lbNom").val(ui.item ? ui.item.value : $(this).val());
                }
            });

            $("#observation_bird_nomVern").autocomplete({
                source: "{{ path('bird_nomvern_autocomplete') }}",
                minLength: 2,
                select: function (event, ui) {
                    $("#observation_bird_nomVern").val(ui.item.value);
                    return false;
                },
                change: function (event, ui) {
                    $("#observation_bird_nomVern").val(ui.item ? ui.item.value : $(this).val());
                }
            });
        });
    </script>
{% endblock %}
