{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <input id="input-nom-vern" type="text" class="form-control" placeholder="Rechercher une espèce">
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-default" data-toggle="dropdown" id="menu1">Tous les départements <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Département #1</a>
                    <a class="dropdown-item" href="#">Département #2</a>
                    <a class="dropdown-item" href="#">Département #3</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button id="btn-valider" class="btn btn-primary btn-block">Valider</button>
        </div>
    </div>
    <div class="row">
        <div class="map-container mt-5">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {#<style>#}
        {#.map-container {#}
            {#width: 100%;#}
            {#min-height: 700px;#}
            {#background: #b67379;#}
        {#}#}
        {##map {#}
            {#height: 100%;#}
        {#}#}
    {#</style>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB1pM1lEVpFhq3Fne8yzNchvi0FNheYoY"></script>
    {#<script src="{{ asset('assets/js/gmaps.js') }}"></script>#}
    <script>
        var map, marker, infoWindow;
        var locations = [];
        var searchUrl = "{{ path('observation_map_search') }}";
        $(function () {
            $(document).on('click', '#btn-valider', function () {
                var nomVern = $('#input-nom-vern').val();
                console.log(nomVern);
                $.ajax({
                    url: searchUrl,
                    type: "POST",
                    dataType: "json",
                    data: {"nomVern": nomVern},
                    async: true,
                    success: function (data) {
//                        initMap();
                        console.log(data);
                        locations = data;
                        for (var count = 0; count < data.length; count++) {
                            {#var showPath = "{{ path('observation_afficher', {'id':locations[count].id\"}) }}";#}
//                            console.log(showPath);
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[count].latitude, locations[count].longitude),
                                map: map,
                                title: locations[count].nomVern
                            });
                            google.maps.event.addListener(marker, 'click', (function (marker, count) {
                                return function () {
                                    var contentString = '<div id="content" class="card">'+
                                            '<div id="bodyContent" class="card-body">'+
                                            '<p id="title" class="card-title title">'+locations[count].nomVern+'</p>'+
                                            '<p id="author" class="card-title author">Posté par <b>'+locations[count].username+'</b>'+
                                            '<span class="date-pub">- Validé le'+locations[count].date+'</span></p><hr>'+
                                            '<img src="" alt="">'+
                                            '<p>'+locations[count].description+'</p>'+
                                            '<div class="card-footer text-center"><a href="{{ path('observation_afficher', {'id':1}) }}" class="btn btn-primary text-center">Fiche observation</a></div>'+
                                            '</div>'+
                                            '</div>';
                                    infowindow.setContent(contentString);
                                    infowindow.open(map, marker);
                                }
                            })(marker, count));
                            google.maps.event.addListener(map, 'click', function() {
                                infowindow.close();
                            });
                        }
                    },
                    error: function () {
                        console.log('error');
                    }
                });
            });
        });
        google.maps.event.addDomListener(window, 'load', initMap);
        function initMap() {
            var center = {lat: 43.12025, lng: 2.123654};
            map = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: 8,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            });
//            marker = new google.maps.Marker({
//                position: center,
//                map: map,
//                title: 'Lima'
//            });
            infowindow =  new google.maps.InfoWindow({});
//            var contentString = '<div id="content" class="card">'+
//                    '<div id="bodyContent" class="card-body">'+
//                    '<p id="title" class="card-title title">Titre</p>'+
//                    '<p id="author" class="card-title author">Posté par <b>Auteur</b><span class="date-pub">- Validé le 08/10/1991</span></p><hr>'+
//                    '<img src="" alt="">'+
//                    '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sint!</p>'+
//                    '<div class="card-footer text-center"><a href="#" class="btn btn-primary text-center">Fiche observation</a></div>'+
//                    '</div>'+
//                    '</div>';
//            infowindow.setContent(contentString);
//            infowindow.open(map, marker);
            google.maps.event.addListener(infowindow, 'domready', function() {
                var iwOuter = $('.gm-style-iw');
                var iwBackground = iwOuter.prev();
                iwBackground.children(':nth-child(2)').css({'display' : 'none'});
                iwBackground.children(':nth-child(4)').css({'display' : 'none'});
                var iwCloseBtn = iwOuter.next();
                iwCloseBtn.css({
                    opacity: '1',
                    right: '38px', top: '3px',
                    border: '7px solid #48b5e9',
                    'border-radius': '50%',
                    'box-shadow': '0 0 5px #3990B9'
                });
                iwCloseBtn.mouseout(function(){
                     $(this).css({opacity: '1'});
                });
            });
        }
    </script>
{% endblock %}