<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('nao_interface') }}">Dashboard</a>
    <div class="search ml-lg-5 mr-auto">
        <form class="form-inline my-0 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="account">
        <div class="acc-avatar">
            {% if is_granted('ROLE_USER') and is_granted('ROLE_NATURALIST') == false %}
                <i class="material-icons" style="color: #c7c7c7;">grade</i>
            {% endif %}
            {% if is_granted('ROLE_NATURALIST') %}
                <i class="material-icons" style="color: #15ab4d;">grade</i>
            {% endif %}
        </div>
        <div class="acc-avatar-profile">
            {% if app.user.image == false %}
                <img src="{{ asset('assets/img/homme.jpg') }}" alt="{{ app.user.username }} - Image Profil">
            {% else %}
                <img src="{{ asset('uploads/avatar/'~app.user.image) }}" alt="{{ app.user.username }} - Image Profil">
            {% endif %}
        </div>
        <div class="acc-user dropdown">
            <a href="#" data-toggle="dropdown" id="menu1">{{ app.user.username|capitalize }}</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path('nao_interface_profile', { username: app.user }) }}">Profil</a>
                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Mon compte</a>
                <a class="dropdown-item" href="#">Paramètres</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
            </div>
        </div>
    </div>
</nav>

<div class="nav-mobile">
    <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a href="#"><i class="material-icons">add</i></a>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('assets/img/logo.png') }}" width="40" height="40" class="" alt="Nos Amis les Oiseaux">
                        <a class="navbar-brand ml-2" href="{{ path('nao_interface') }}">NAO</a>
                    </div>
                </div>
                <div class="col-xs-4 mr-3">
                    <a href="#" class="menu-icon float-right"><i class="material-icons">menu</i></a>
                    <a data-toggle="collapse" href="#search-collapse" role="button" aria-expanded="false" aria-controls="search-collapse" class="menu-search float-right"><i class="material-icons">search</i></a>
                </div>
            </div>
    </div>
</div>
<div class="collapse" id="search-collapse">
    <div class="search-fix">
            <form role="search" method="get" class="search-form" action="#">
                <input type="search" class="search-field form-control" placeholder="Rechercher..." title="Search for:">
                <button class="btn btn-primary-custom" name="submit" type="submit"><i class="material-icons">search</i></button>
            </form>
    </div>
</div>
