<div id="sidebar-wrapper">
    <div class="logo">
        <a href=""><img src="#" alt=""></a>
    </div>
    <div class="top-obs">
        <a href="/ajout/observation"><i class="material-icons" style="font-size:20px; vertical-align: middle; margin-right: 5px;">near_me</i>Observation</a>
    </div>
    <div class="sidebar-profile">
        <div class="close">
            <i class="material-icons">close</i>
        </div>
        <div class="avatar-profile">
            <img src="{{ asset('assets/img/grandpa.jpg') }}" alt="{{ app.user.username }} - Image Profil">
        </div>
        <div class="info-profile">
            <a href="#" class="user-profile">{{ app.user.username|capitalize }}</a>
            {% if is_granted('ROLE_USER') and is_granted('ROLE_NATURALIST') == false %}
                <a href="#" class="role-profile">Passionné(e)</a>
            {% endif %}
            {% if is_granted('ROLE_NATURALIST') %}
                <a href="#" class="role-profile">Naturaliste</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="#" class="role-profile">Administrateur</a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
    <ul class="sidebar-nav">
        <li><a href="{{ path('nao_interface_carte') }}" class="{% if app.request.get('_route') == 'nao_interface_carte' %} nav-active {% endif %}"><i class="material-icons md-18" style="vertical-align: middle; margin-right: 5px;">map</i>La carte</a></li>
        <li><a href="#"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;">style</i>Observations</a></li>
        <li><a href="#"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;">timer</i>Classement</a></li>
        <li><a href="#"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;">folder_open</i>Mes observations</a></li>
        <li><a href="{{ path('nao_interface_memory') }}"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;">videogame_asset</i>Memory Bird</a></li>
    </ul>
    <ul class="sidebar-small">
        <li><a href="#">Conditions générales</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Foire aux questions</a></li>
        <li><a href="#">Donation</a></li>
        <li><a href="{{ path('nao_contact') }}">Contact</a></li>
    </ul>
    <ul class="sidebar-account">
        <li><a href="#"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;font-size: 18px">account_box</i>Mon compte</a></li>
        <li><a href="#"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;font-size: 18px">settings</i>Paramètres</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons" style="vertical-align: middle; margin-right: 5px;font-size: 18px">input</i>Se déconnecter</a></li>
    </ul>
    <div class="donation">
        <a href="#">Donation</a>
    </div>
    {% if is_granted('ROLE_NATURALIST') == false %}
        <a href="{{ path('nao_interface_naturalist') }}" class="a-nat">Devenir Naturaliste</a>
    {% endif %}

</div>