<header>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('nao_home') }}">
                <img src="{{ asset('assets/img/logo.png') }}" width="45" height="45" class="d-inline-block align-top" alt="Nos Amis les Oiseaux">
            </a>
            <div class="d-flex ml-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="globalNavbar">
                {#<form class="d-lg-none form-inline form-navbar my-2 my-lg-0" action="https://themes.getbootstrap.com/shop/">#}
                {#<input class="form-control" data-toggle="collapse" name="s" type="text" placeholder="Search">#}
                {#</form>#}
                <ul class="navbar-nav mr-auto ml-lg-5">
                    <li class="nav-item"><a class="nav-link" href="{{ path('nao_home') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('nao_association') }}">Association</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Observation</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://naonews.pw/">Blog</a></li>
                </ul>
                <div class="order-1">
                    {#<a class="text-muted" href="#">#}
                    {#<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>#}
                    {#</a>#}
                    {% if app.user %}
                        <a class="btn btn-l-log" href="{{ path('nao_interface') }}">Accéder à l'interface</a>
                    {% else %}
                    <a class="btn btn-l-log" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    <a class="btn btn-r-reg" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>